<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name="com.orm.SugarApp"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon"
       >
        <activity
            android:name=".Activities.NeracaActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.StrukActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterDeviceActivity"
            android:exported="false"
            android:label="Status Device" />
        <activity
            android:name=".Activities.CashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name=".Activities.DetailLaporanHarianActivity" />
        <activity android:name=".Activities.LaporanHarianActivity" />
        <activity android:name=".Activities.LaporanActivity" />
        <activity android:name=".Activities.LaporanStokActivity" />



        <activity android:name=".Activities.DetailLaporanPenjualanActivity" />
        <activity android:name=".Activities.MenuTambahPegawaiActivity" />
        <activity android:name=".Activities.LaporanPenjualanActivity" />
        <activity android:name=".Activities.AddKaryawanActivity" />
        <activity android:name=".Activities.SplashScreenActivity"/>
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.BluetoothDeviceListActivity" />
        <activity
            android:name=".Activities.CheckoutActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.AddKategoriActivity" />
        <activity
            android:name=".Activities.AddProdukActivity"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="DATABASE"
            android:value="umkm_mandiri.db" />
        <meta-data
            android:name="VERSION"
            android:value="4" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="false" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.svtech.mandiri" />

        <activity android:name=".Activities.MenuTambahProdukActivity" />
        <activity android:name=".Activities.MenuTambahKategoriActivity" />
        <activity android:name=".Activities.QrisMockUp" />
        <activity android:name=".Activities.VaDanQrDKI" />
        <activity
            android:name=".Activities.MenuKeranjangActivity"
            android:configChanges="keyboardHidden|layoutDirection|screenLayout"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activities.MenuPembelianActivity" />
        <activity android:name=".Activities.EditProfileActivity" />
        <activity android:name=".Activities.DashboardActivity" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            android:name="com.pattra.pattracardsdk.Service.SyncService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

<!--        <meta-data-->
<!--            android:name="com.google.android.actions"-->
<!--            android:resource="@xml/provider_path" />-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notifications_promotions_channel_id" />
    </application>

</manifest>